[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/25gor/
Environment="PYTHONPATH=/home/str/25gor/"
ExecStart=/home/str/25gor/.venv/bin/python /home/str/25gor/bot_main.py

[Install]
WantedBy=multi-user.target